/.ipynb_checkpoints
/2021 Introduction to Machine Learning Program Assignment #2 - Decision Tree  Random Forest  KNN  PCA.html
/decision_tree.pdf
/hw2 - 複製 (2).ipynb
/hw2 - 複製.ipynb
/student-merge.R
/student-por.csv
/student.txt
/student.zip
/test.pdf